html {
  font-size: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: calc(1rem + 1vw);
  width: 100%;
}
.buttons {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
button {
  font-size: inherit;
  width: 20vw;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 1.5em);
  flex-flow: column wrap;
}
footer {
  height: 1.5em;
  width: 100vw;
}
footer p {
  text-align: center;
}
small {
  font-size: 0.5em;
}
